<div *ngIf="routes" class="stache-table-of-contents">
  <div class="stache-table-of-contents-wrapper">
    <div class="stache-table-of-contents-header">
      <h3 class="stache-table-of-contents-heading">
        Contents
      </h3>
    </div>
    <div class="stache-table-of-contents-body">
      <ol class="stache-nav-list">
        <li class="stache-nav-list-item" *ngFor="let route of routes">
          <a class="stache-nav-anchor" (click)="navigate(route)">{{route.name}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>
