<div class="stache-sidebar-wrapper"
  [ngClass]="{
    'sidebar-closed': !sidebarOpen,
    'sidebar-open': sidebarOpen  }">

  <div class="stache-sidebar-buttons">
    <button
      type="button"
      class="sky-btn sky-btn-link-inline stache-sidebar-button"
      (click)="toggleSidebar()"
      aria-controls="stache-sidebar-content-panel"
      [attr.aria-expanded]="sidebarOpen"
      [attr.aria-label]="sidebarLabel">

      <i *ngIf="sidebarOpen" class="fa fa-close"></i>
      <i *ngIf="!sidebarOpen" class="fa fa-bars"></i>

    </button>
  </div>

  <div id="stache-sidebar-content-panel" class="stache-sidebar-content">
    <stache-sidebar [routes]="sidebarRoutes">
    </stache-sidebar>
  </div>
</div>
