@import '../../styles/_variables';

.stache-sidebar-wrapper {
  position: fixed;
  z-index: $stache-sidebar-z-index;
  bottom: 0;
  left: 0;
  border-right: 1px solid #cdcfd2;

  &.sidebar-closed {
    border-right: none;
    box-shadow: none;
    transition: 300ms;

    .stache-sidebar-buttons {
      transition: 300ms;
      right: -40px;
      top: 17px;
      border-bottom-right-radius: $stache-border-radius;
      border-top-right-radius: $stache-border-radius;
      border: 1px solid #cdcfd2;
      border-left: none;
    }

    .stache-sidebar-content {
      transition: 300ms;
      margin-left: -$stache-sidebar-column-width;
    }
  }

  &.sidebar-open {
    .stache-sidebar-content {
      transition: 300ms;
      margin-left: 0;
    }
  }

  .stache-sidebar-content {
    background-color: #fff;
    width: $stache-sidebar-column-width;
    padding: $stache-padding-plus-half;
    padding-top: $stache-padding-half;
    padding-bottom: $stache-padding * 2;
    height: 100%;
    overflow-y: auto;
  }

  .stache-sidebar-buttons {
    background-color: #fff;
    position: absolute;
    right: 5px;
    top: 20px;

    .stache-sidebar-button {
      display: initial;
      color: $stache-text-color-icon-borderless;
      padding: $stache-padding 14px;

      &:hover {
        color: darken($stache-text-color-icon-borderless, 10%);
      }
    }
  }
}

@media (min-width: $stache-screen-md-min) {
  .stache-sidebar-buttons {
    display: none;
  }
}

